Chisquare test

In [1]:
from scipy import stats
import pandas as pd
import numpy as np

Hypothesis testing for the below C_sat data to determine if there is a relation between the type of device
purchased and the satisfaction level of the customer.

In [3]:
from scipy.stats import chi2_contingency

In [7]:
df = pd.read_excel('C_sat.xlsx')
df

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70
5             Total               240          360    600

In [20]:
##Null Hypothesis Ho: There is no relation between the type of device purchased and satisfaction level.
##Alternate Hypothesis Ha: There is a relation between the type of device purchased and satisfaction level.

In [9]:
obs = pd.crosstab(index=df['Smart Thermostat'],columns=df['Smart Light'])
obs

Smart Light       50   70   90   100  360
Smart Thermostat
20                  1    0    0    0    0
30                  1    0    0    0    0
50                  0    1    0    0    0
60                  0    0    1    0    0
80                  0    0    0    1    0
240                 0    0    0    0    1

In [11]:
chi2,p,df,exp  = chi2_contingency(obs)

In [13]:
p

0.2423921616705121

In [13]:
if p<0.05:
    print('Reject null hypothesis which means there is a relation between the type of device purchased and satisfaction level.')
else:
    print('Failed to reject null hypothesis which means there is no relation between the type of device purchased and satisfaction level.')

Failed to reject null hypothesis which means there is no relation between the type of device purchased and satisfaction level.

## Hypothesis Testing

In [49]:
X_bar=3050
Pop_mean=4000
Sigma=125
n=25

In [51]:
Z_Score=(X_bar-Pop_mean)/(Sigma/np.sqrt(n))
Z_Score

-38.0

In [53]:
from scipy import stats
import scipy

In [59]:
stats.norm.cdf(Z_Score)

0.0